*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#0a071b;
    margin: 0px;
    padding: 0px;
}
header{
    display:flex;
    margin-bottom: 20px;
    padding: 15px;

}


.mother{
    font-size: 20px;
    color: rgb(223, 66, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
    font-weight: bolder;
}

.mother span{
    color: white;
}

.children{
    margin-left: 250px;
    transition: color 2s;
    transition-delay: 3s;
}

.children a{
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
    font-size: large;
    overflow: hidden;
}


.children a:hover {
    color:rgb(59, 41, 173);
}




.mother span:hover {
    color:rgb(59, 41, 173);
}



.separate{
    margin-left: 60px;
    
}
.separate a{
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    color:white;
}

.separate a:hover{
    color:rgb(59, 41, 173);
}

.oneman{
    color:white;
    text-align: right;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-right:  190px;
    margin-top: 40px;
    margin-bottom: 50px;
    
}

.oneman span{
    border-bottom: 2px solid blueviolet ;
    border-radius: 20px;
    border-bottom-left-radius: 5px;
}

.liam{
    position:relative;
    width: 100%;
    display:flex;
    margin-left:40px;
    margin-bottom: 80px;
}

.liamson{
    width: 50%;
   
}
.liamson img{
    width:30px;
    position:absolute;
    left:32%;
    bottom: 350px;
}

.liamson h1{
    color:white;
    font-size:70px;
    
}


.big img{
    width:400px;
    margin-right: px;
    position:relative;
}


.small img{
    width:350px;
    position:absolute;
    bottom:0px;
  animation: rotate 8s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.liamson span{
    color:blueviolet;
}

.bomb img{
    position:absolute;
    bottom:210px;
    right:870px;
    width:40px;
    animation-name: titilope;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -3s;
}

@keyframes titilope{
    0% { opacity: 1; }
    50% { opacity: 0; } 
    100% { opacity: 1; }
}

.anchor a{
position:absolute;
top:290px;
right:1150px;
text-decoration: none;
color: white;
background-color: blueviolet;
padding:10px 30px;
border-radius: 7px;
margin-top: 15px;
margin-left:40px;
}
.liamson p{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 20px;
}
section{
    margin-left:20px;
    display:flex;
    /* width: 100%; */
}

.segment{
    width:30%;
    
}

.segment img{
    width:450px;
    margin-right: 20px;
    margin-top: 20px;
}

.class{
    color:white;
    margin-top: 100px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.class span{
    color:blanchedalmond;
}

.mummy p{
    color:white;
    font-size: 20px;
    margin-top: 15px;
    
}

.mummy{
    width:45%;
    margin-left: 130px;
    margin-right: 40px;
}

.mummy p  span{
    color:blanchedalmond;
}


.segments{
    width:30%;
    margin-right:20px;
    margin-top: 70px;
}

.segments img{
    width:500px;
    margin-top: 120px;
}

.anchor{
    margin-top: 15px;
}
.anchor a{
    color: white;
    background-color: rgb(175, 104, 234);
    border-radius: 3px;
    padding: 10px 25px;
    text-decoration: none;
}


.secret{
width:100%;
display: flex;
margin-top: 35px;
margin-left: 40px;
}

.david{
    width:50%;
}

.david p{
color:white;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 15px;
}
.david p span{
    color:blanchedalmond;
}
#style{
    color:white;
    font-size: 20px;;
}

.child{
    width:50%;
}

.child img{
    width: 500px;
}

#burna{
    color:white;
    font-size:15px;
    margin-top: 40px;
    border-bottom:1px solid blanchedalmond;
}

.positioning{
    display:flex;
    width: 100%;
    margin-top: 30px;
    position:relative;
}

.door{
    width:50%;
    position:absolute;
    left:250px;
}

.doors{
width:50%;  
position:absolute;
left:500px;
margin-left: 150px;
}

#fit{
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}


#fit span{
    color:blanchedalmond;
}

.doors p{
    color: white;
    font-size: 15px;
}

.door img{
    width:30px;
    animation-name: titilope;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: -3s;
}

@keyframes titilope{
    0% { opacity: 1; }
    50% { opacity: 0; } 
    100% { opacity: 1; }

}


.container-image{
    display: flex;
    margin-top:80px;
}

.motherly-care{
    text-align: center;
    margin-top: 30px;
}

.motherly-care h4{
    color:white;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}


.motherly-care p{
    color:white;
    font-size:20px;
}


.image-container{
    margin-top: 20px;
    margin-bottom: 70px;
}
.image-container img{
    width:1100px;
}



.heading{
    margin-left: 50px;;
}


.position{
    display: flex;
}


.border-place{
    margin-left: 30px;

}


.border-underneath{
    width:50%;
}

.border-underneath p{
    color: white;
    font-size: 30px;
    font-weight: light;
}

.border-underneath span{
    color:blanchedalmond;
    font-weight: light;
}

#demo {
    color: white;
    font-size:20px;
    font-weight: lighter;
    margin-top: 20px;
}

.padlock-image{
    width: 35%;
}

.padlock-image img{
    width: 550px;
}

.Restricted{
    border:1px solid blanchedalmond;
    margin-top: 20px;
    padding: 50px;
}

.Restricted p{
    font-size: 20px;
    margin-top: 20px;
}

#secluded{
    color:blanchedalmond;
    margin-top: 14px;
    font-size: 15px;
    font-weight: lighter;
}

.check{
    color: white;
    font-size: 15px;
    margin-top:20px;
}

.checkes{
    color: white;
    font-size: 15px;
    margin-top:20px;
}


.last-underBorder {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.last-underBorder a{
    color:white;
    background-color: rgb(62, 44, 16);
    font-size: 20px;
    padding:10px 27px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: color 2s, background-color 2s;
    transition-delay: -3s;
}

.last-underBorder a:hover{
    color:blanchedalmond;
    background-color: blueviolet;
} 

.sacks{
display: flex;
margin-left: 30px;
margin-top: 40px;
}


.sack-one {
    width: 36%;
}
.sack-one p{
color:white;
margin-bottom: 10px;
font-size: 20px;
}

.sack-one span{
color:white;
}


.sack-two{
    width: 32%;
}
.sack-two p{
    color:white;
    margin-bottom: 10px;
    font-size: 20px;
}


.sack-three{
width: 32%;
}
.sack-three p{
    color:white;
    margin-bottom: 10px;
    font-size: 20px;
}

#unity{
    color:blanchedalmond;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#diff span{
border-right: 3px solid blanchedalmond;
}

#hitch{
    color:blanchedalmond;
}
.name{
    display:flex;
}


.seecond{
    margin-left: 10px;
}
.seecond img{
    margin-right: 5px;
}

.badmans{
    display:flex;
}

.badman{
    display:flex;
}

.badman div{
    margin-right: 5px;
}


.badmans div{
    margin-right: 5px;
}


address{
    color:white;
    margin-bottom: 7px; 
}


.last-child{
    margin-top: 40px;
}

.last-child p{
    
    color:white;
    font-size: 20px;
    text-align: center;
}


.first-phase{
    width: 50%;
    margin-right: 30px;
    margin-top: 60px;
}

.first-phase p{
    color:white;
    margin-top: 20px;
    font-size: 20px;
}

#demo2{
    color:blanchedalmond;
    font-size: 30px;
    font-weight: light;
}
.first-phase address{
color:white;
margin-top:20px;
}

.second-phase{
    border-radius: 15px;
    padding:70px;
    box-shadow: 5px 5px 5px white;
    border:1px outset blue;
    width:50%;
}

.second-phase input,textarea{
    margin-top: 25px;
}

.second-phase p{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: light;
}


.first-input input{
    padding:8px 35px;
    width: 95%;
    font-size: 18px;
    color:gray;
    background-color:#0a071b;
    border-radius: 5px; 
    padding-left: 5px;
    padding-top: 5px;
}


.second-input input{
    padding:8px 35px;
    width: 95%;
    font-size: 18px;
    color:gray;
    background-color:#0a071b;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
}



.another-page{
    display: flex;
    margin:120px;
}


textarea{
    padding: 25px 65px;
    width: 95%;
    font-size: 18px;
    color:gray;
    background-color:#0a071b;
    border-radius: 5px;
    height: 200px;
    padding-left: 5px;
    padding-top: 5px;
}


.last-input{
text-align: center;
}


.last-input input{
    color:white;
    background-color: rgb(62, 44, 16);
    font-size: 20px;
    padding:10px 27px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: color 2s, background-color 2s;
    transition-delay: -3s;
    font-weight: lighter;
}

.last-input :hover{
    color:blanchedalmond;
    background-color: blueviolet;
}

.pikins{
    display:flex;
}

.dimension{
    display: flex;
    margin: 40px;
}


.dimension-one{
    width:45%;
}

.dimension-one img{
    width:600px;
}


.dimension-two {
    width: 55%;
    margin-right: 60px;
    border-radius: 8px;
    border:1px outset #0a071b;
    padding:50px;
}
.dimension-two p{
color:blanchedalmond;
font-size: 30px;
margin-bottom: 15px;

}

.movement p{
    color:white;
    font-size: 15px;
}

.last-pikin p{
    color:white;
    font-size: 18px;
}

.group-flex{
    display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto;
  color: white;
}

.flex-one input{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}

.flex-two input{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}
 .flex-three  input{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}
.flex-four input{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}

.flex-five select{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}

.flex-six select{
    width: 240px;
    height: 40px;
    font-size: 14px;
    color:gray;
    background-color:#0a071b;
    padding-left: 5px;
    padding-top: 5px;
}

.flex-six option{
    background-color: white;
}

.flex-five option{
    background-color: white;
}


.last-leg p{
    color:blanchedalmond;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.last-container{
    display: flex;
}

.dolls p{
    color:white;
    font-size: 15px;
}
label{
    margin-bottom: 15px;
}


.last-anchor {
    margin-top: 15px;
}
.last-anchor a{
    background-color: blanchedalmond;
    color:blueviolet;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 220px;
    font-size: 20px;
}




.mother2 {
    position: relative;
    display: inline-block;
}

.children i {
    cursor: pointer;
    color: white;
}


